/* Import Local CSS */
@import url('/css/reset.css');
@import url('/css/variables.css');

* {
    font-family: var(--primary-kr);
    font-weight: 300;
}
body {
  margin: 0;  
  color: var(--dark-black);
  line-height: 1.5em;
  font-style: 14px;
}

/* #### Common CSS #### */

/* Layout CSS */
.container {
    /* border: 1px solid #000; */
    width: 375px; /*작업완료후 100%*/
    position: relative;
}

/* Logo CSS */
.logo {
    font-family: var(--logo-en);
}

/* Button CSS */
.btn-primary {
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    padding: 8px;
}

/* GNB CSS */
.gnb{
    border-top: 1px solid var(--gloudy-gray);
    /* border: 1px solid #000; */
    height: 65px;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    /* bottom: 0; */
    width: 375px; /*작업완료후 100%*/
    background-color: #fff;
    /* align-items: center; */
}
.gnb a {
    text-align: center;
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gnb a .bi {
    font-size: 22px;
}
.gnb a:nth-child(1) .bi,
.gnb a:nth-child(4) .bi {
    font-size: 26px;
}
.gnb a span {
    display: block;
    font-size: 13px;
}
/* Main Header CSS*/
.main-header {
    height: 80px;
    background-color: var(--crimson);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-back {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 22px;
    flex: 1;
}
.main-header .log {
     color: #fff;
     font-size: 26px;
     text-align: center;
     margin: 0;
     flex: 6;
}
.user-alarm {
    flex: 1;
    font-size: 22px;
    color: #fff;
}
.user-alarm span {
    /* border: 1px solid #000; */
    position: relative;
}
.user-alarm span em {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--royalblue);
    border-radius: 50%;
    right: -4px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-alarm span em:before {
    content: attr(data-count);
    font-style: normal;
    font-size: 10px;
    font-family: var(--primary-en);
    /* position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%); */
}
/* Content Padding */
/* .signin-content,
.signup-content {
    padding: 20px;
} */
[class*=content] {
    padding: 20px;
}

/* #### Preloading html #### */
.preloading {
    height: 750px; /*작업완료후 100vh*/
}
.preloading-inner {
    height: inherit;
    background: url('/images/preloading-back.jpg') no-repeat center left -130px;
    background-size: cover;
    position: relative;
}
.heading-preloading {
     position: absolute;
     top: 75px;
     left: 30px;
     /* border: 1px solid #000; */

}
.heading-preloading .logo {
    font-size: 32px;
    color: var(--crimson);
    white-space: nowrap;
}
.slogan {}
.slogan span {
    display: block;
    font-family: var(--secondary-kr);
    font-size: 28px;
    margin: 15px 0;
    font-weight: bold;
}


/* #### Signin html #### */
.signin{
    height: 750px;
}
.signin-inner{}
.signin-photo{
    height: 250px;
    background: url('/images/signin-header.jpg') no-repeat;
}
.signin-content{
    padding: 20px;
}
.signin-header{
    text-align: center;
}
.signin-header .logo{
    font-size: 26px;
    margin-bottom: 0;
}
.signin-header p{
    font-size: 16px;
    font-weight: 400;
}
.sign-field{}
.signin-field input{
    border: 1px solid var(--gainsboro);
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    margin: 5px 0;
}
.signin-field input:focus {
    border-color: var(--yellowgreen);
}
.signin-field input::placeholder {
    color: var(--sivler-gray);
    transition: 0.35s;
}
.signin-field input:focus::placeholder {
    opacity: 0;
    /* visibility: hidden; */
}
.status{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.custom-chk label input[type=checkbox] {
    display: none;
}
.custom-chk label input[type=checkbox] + em {
    /* border: 1px solid #000; */
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: translateY(5px);
    margin-right: 3px;
}
.custom-chk label input[type=checkbox] + em:before {
    content: '\F26B';
    font-family: bootstrap-icons;
    font-style: normal;
    color: var(--light-gray);
    transform: translateY(-3px);
    display: inline-block;
}
.custom-chk label input[type=checkbox]:checked + em:before {
    color: var(--crimson);
}
.btn-signin{
    background-color: var(--yellowgreen);
}
.join-member {
    text-align: center;
    margin: 15px 0;
}
.join-member a {
    text-decoration: underline;
}
.easy-signin {
    text-align: center;
}
.easy-signin span {
    color: var(--light-gray);
}
.social-btn {
    margin: 10px 0;
}
.social-btn a {
    margin: 2px;
}

/* #### Signup html #### */
.signup {}
.signup-inner {}
.signup-content {
    padding: 20px;
}
.signup-field {
    margin-bottom: 10px;
}
.signup-field span {
    display: block;
}
.signup-field span em {
    color: var(--crimson);
}
.signup-field.id-pw input {
     width: 100%;
     border: none;
     border-bottom: 1px solid var(--gainsboro);
     padding: 8px 0;
}
.signup-field.id-pw input::placeholder {
    color: var(--sivler-gray);
}

.signup-field.birth {

}
.signup-field.birth div {
    display: flex;
    gap: 10px;
}
.signup-field.birth div > *
,.signup-field.phone div > * {
    /* flex: 1 ; */
    width: 33.3333%;
    border: 1px solid var(--gainsboro);
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    color: var(-sivler-gray);
}
.signup-field.phone div {
    display: flex;
    gap : 10px;
}
.signup-field.phone div input {
    flex: 5;
}
.btn-getcode {
    flex: 2;
    background-color: #fff;
}
.agree-term{
    margin-bottom: 15px;
}
.agree-term label{
    display: block;
    font-size: 13px;
}

.btn-signup {
    background-color: var(--crimson);
}
.signup-field.phone span,
.signup-field.birth span
{
    margin-bottom: 5px;
}

.signup-field.id-pw input:focus,
.signup-field.birth div > *:focus,
.signup-field.phone div input:focus {
    border-color: var(--yellowgreen);
}
.signup-field.id-pw input:focus::placeholder,
.signup-field.birth div > *:focus::placeholder,
.signup-field.phone div input:focus::placeholder {
    visibility: hidden;
}